datos_gis/
datos_eventoscorregidos/
Datos evento 11-12 Sep 2021.xlsx
DATOS Evento 24-26 Jun 2021_FIGURA 3.xlsx
Evento 18-19 agosto 2021.xlsx
Evento 18-20 agosto 2021.xlsx
Informe Evento 230621.xlsx
Informe Evento 260621.xlsx
Mediciones evento 11-12 sep 2021.xlsx
Mediciones evento 7-8 sep 2021.xlsx
Puntos Observación 300421.xlsx
Resultados evento 20-21 mayo 2021.xlsx
congreso_sochid/
DEM_RM.nc
RM_topo.nc
